build/
CMakeLists.txt.user
Debug/
Release/
vs2012/Debug/
vs2012/Release/
vs2012/*.opensdf
vs2012/*.sdf
vs2012/*.suo
vs2012/*.ncb
vs2012/*.user
vs2013/Debug/
vs2013/Release/
vs2013/*.opensdf
vs2013/*.sdf
vs2013/*.suo
vs2013/*.ncb
vs2013/*.user
vs2013/Debug_Win32/
vs2013/Debug_x64/
vs2013/Release_Win32/
vs2013/Release_x64/
*.opensdf
*.sdf
vs2015/Debug_Win32/
vs2015/Debug_x64/
vs2015/Release_Win32/
vs2015/Release_x64/basic_example.exp
vs2015/Release_x64/basic_example.iobj
vs2015/Release_x64/basic_example.ipdb
vs2015/Release_x64/basic_example/basic_example.tlog/CL.command.1.tlog
vs2015/Release_x64/basic_example/basic_example.tlog/CL.read.1.tlog
vs2015/Release_x64/basic_example/basic_example.tlog/CL.write.1.tlog
vs2015/Release_x64/basic_example/basic_example.tlog/basic_example.lastbuildstate
vs2015/Release_x64/basic_example/basic_example.tlog/basic_example.write.1u.tlog
vs2015/Release_x64/basic_example/basic_example.tlog/link.command.1.tlog
vs2015/Release_x64/basic_example/basic_example.tlog/link.read.1.tlog
vs2015/Release_x64/basic_example/basic_example.tlog/link.write.1.tlog
vs2015/Release_x64/configured_example.exp
vs2015/Release_x64/configured_example.iobj
vs2015/Release_x64/configured_example.ipdb
vs2015/Release_x64/configured_example/configur.264B0143.tlog/CL.command.1.tlog
vs2015/Release_x64/configured_example/configur.264B0143.tlog/CL.read.1.tlog
vs2015/Release_x64/configured_example/configur.264B0143.tlog/CL.write.1.tlog
vs2015/Release_x64/configured_example/configur.264B0143.tlog/configured_example.lastbuildstate
vs2015/Release_x64/configured_example/configur.264B0143.tlog/configured_example.write.1u.tlog
vs2015/Release_x64/configured_example/configur.264B0143.tlog/link.command.1.tlog
vs2015/Release_x64/configured_example/configur.264B0143.tlog/link.read.1.tlog
vs2015/Release_x64/configured_example/configur.264B0143.tlog/link.write.1.tlog
vs2015/Release_x64/humblelogging.exp
vs2015/Release_x64/humblelogging.iobj
vs2015/Release_x64/humblelogging.ipdb
vs2015/Release_x64/humblelogging/humblelogging.tlog/CL.command.1.tlog
vs2015/Release_x64/humblelogging/humblelogging.tlog/CL.read.1.tlog
vs2015/Release_x64/humblelogging/humblelogging.tlog/CL.write.1.tlog
vs2015/Release_x64/humblelogging/humblelogging.tlog/humblelogging.lastbuildstate
vs2015/Release_x64/humblelogging/humblelogging.tlog/humblelogging.write.1u.tlog
vs2015/Release_x64/humblelogging/humblelogging.tlog/link.command.1.tlog
vs2015/Release_x64/humblelogging/humblelogging.tlog/link.read.1.tlog
vs2015/Release_x64/humblelogging/humblelogging.tlog/link.write.1.tlog
vs2015/Release_x64/mtperformance_example.exp
vs2015/Release_x64/mtperformance_example.iobj
vs2015/Release_x64/mtperformance_example.ipdb
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/CL.command.1.tlog
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/CL.read.1.tlog
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/CL.write.1.tlog
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/link.command.1.tlog
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/link.read.1.tlog
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/link.write.1.tlog
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/mtperformance_example.lastbuildstate
vs2015/Release_x64/mtperformance_example/mtperfor.D44F39AE.tlog/mtperformance_example.write.1u.tlog
